streamlit
transformers
torch==2.7.0
pytesseract==0.3.13  # Remove if not using pytesseract OCR
pillow
PyMuPDF==1.25.5  # For PDF reading
google-cloud-vision  # If using Google Vision API instead of pytesseract
huggingface-hub==0.30.2
